@import '../../../styles/style';

.footer{
    margin-top: 20px;
    width: 100%;
    .block{
        padding: 25px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakPoint(Extra-small){
            flex-direction: column;
        }
        .logo{
            display: flex;
            align-items: center;
            img{
                height: 45px;
                width: 45px;
                margin: 0 5px;
            }
            h3{
                font-size: 30px;
                font-weight: bold;
                letter-spacing: 1px;
                font-family: $font-head;
            }
            @include breakPoint(Extra-small){
                img{
                    height: 35px;
                    width: 35px;
                }
                h3{
                    font-size: 25px;
                }
                margin-bottom: 15px;
            }
        }
        .text{
            line-height: 1.4;
            a{
                color: white;
                cursor: pointer;
                svg{
                    height: 30px;
                    width: 30px;
                    margin-bottom: -7px;
                    margin-left: 3px;
                }
            }
        }
    }
}