.backdrop{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    position: fixed;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    color: white;
    z-index: 1201;
    width: 100vw;
    height: 100vh;
    &.show{
        transition: opacity 0.3s;
        opacity: 1;
        pointer-events: auto;
    }
}
.loading{
	margin: 70px auto;
	width: 60px;
	height: 60px;
	border: 5px solid rgba(255,255,255,0.2);
	border-radius: 50%;
	border-top-color: #fff;
	animation: spin 1s linear infinite;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}